In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [8]:
df=pd.read_csv("C://Users//nanasaheb//Meena Mam ML//Automobile_data.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [9]:
df["normalized-losses"].replace("?",np.nan,inplace=True)
df["normalized-losses"] = df["normalized-losses"].astype(float)
losses_mean = df["normalized-losses"].mean()
df["normalized-losses"].fillna(losses_mean,inplace=True)

In [10]:
df["horsepower"].replace("?",np.nan,inplace=True)
df["horsepower"] = df["horsepower"].astype(float)
horsepower_mean = df["horsepower"].mean()
df["horsepower"].fillna(losses_mean,inplace=True)

In [11]:
#To separate numerical data and categorical data
df_num = df.select_dtypes(["int64","float64"])
df_cat = df.select_dtypes("object")

In [12]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

In [13]:
#concatenate(merge numerical and categorical dataset)
df_new=pd.concat([df_num,df_cat],axis=1)

In [14]:
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [15]:
x=df_new.drop("price",axis=1)
y=df_new["price"]

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

# BaseLine Model

In [17]:
#create object of LinearRegresion
lin=LinearRegression()

In [18]:
lin.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
#testing
#to check score of model
lin.score(x_test,y_test)

0.7967454596734989

# Feature Selection Technique

#chi and Annova Test

In [23]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest
#for anova ==> class f_regression
#SelectKBest is the important object and this is used for both chi2 and f_regression

# start with anova test first

In [24]:
#it is also known as F-test/F-statistics
#f-test=variance between the  group/variance with in group

In [28]:
#call the SelectKBest
anova=SelectKBest(score_func=f_regression,k=10)
#k is number of columns/features

In [30]:
#anova user defined object
x_train_f=anova.fit_transform(x_train,y_train)
#it will return the selected column from x mean anova test is perform and returns the 10 best column
#which is stored in x_train_f

In [31]:
x_train_f

array([[122. ,  66.3, 156. , ...,   2. ,   2. ,   0. ],
       [122. ,  66.5, 161. , ...,   4. ,   2. ,   0. ],
       [ 81. ,  63.6,  92. , ...,   4. ,   0. ,   0. ],
       ...,
       [142. ,  70.5, 234. , ...,   0. ,   2. ,   0. ],
       [ 83. ,  63.8, 108. , ...,   2. ,   0. ,   0. ],
       [106. ,  65.2, 110. , ...,   2. ,   1. ,   0. ]])

In [32]:
#we do the testing data
x_test_f=anova.transform(x_test)

In [33]:
anova.get_support()

array([False,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False])

In [35]:
#again create object of linear regression
lin_anova=LinearRegression()
lin_anova.fit(x_train_f,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
#to check score 
lin_anova.score(x_test_f,y_test)

0.789197190839033