In [1]:
#Feature Selection 
''''1. Filter method
A. Correlation coefficient
B. Anova Test: -
C. Chi-Square Test'''

"'1. Filter method\nA. Correlation coefficient\nB. Anova Test: -\nC. Chi-Square Test"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [3]:
#to Load Dataset
df=pd.read_csv("automobile_data.csv")

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [6]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [7]:
df["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [8]:
df["normalized-losses"].value_counts()

?      41
161    11
91      8
150     7
104     6
128     6
134     6
103     5
65      5
168     5
95      5
94      5
85      5
74      5
102     5
122     4
148     4
93      4
106     4
118     4
154     3
115     3
83      3
137     3
101     3
125     3
129     2
164     2
158     2
113     2
108     2
188     2
153     2
197     2
89      2
145     2
119     2
110     2
81      2
194     2
192     2
87      2
186     1
77      1
256     1
78      1
142     1
98      1
107     1
121     1
231     1
90      1
Name: normalized-losses, dtype: int64

In [9]:
np.nan

nan

In [10]:
#Replace ? with null value in normalized_losses column  permanently change
df["normalized-losses"].replace("?",np.nan,inplace=True)

In [11]:
#check
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    164 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [13]:
#To change the datatype of Normalized_losses from object to float
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    164 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.1+ KB

In [15]:
#To fill Normalized_losses from mean of Normalized_losses 
df["normalized-losses"].fillna(df["normalized-losses"].mean(),inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.1+ KB

In [17]:
df["horsepower"].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [18]:
df["horsepower"].value_counts()

68     19
70     11
69     10
116     9
110     8
95      7
114     6
88      6
101     6
62      6
160     6
84      5
102     5
145     5
82      5
97      5
76      5
123     4
86      4
92      4
111     4
85      3
152     3
207     3
121     3
182     3
90      3
73      3
100     2
161     2
112     2
155     2
176     2
156     2
?       2
52      2
162     2
184     2
94      2
56      2
135     1
106     1
78      1
120     1
60      1
115     1
55      1
288     1
72      1
64      1
262     1
200     1
142     1
48      1
143     1
134     1
58      1
154     1
175     1
140     1
Name: horsepower, dtype: int64

In [19]:
#Replace ? with null value in horsepower column  permanently change
df["horsepower"].replace("?",np.nan,inplace=True)

In [20]:
#To change the datatype of horsepower from object to float
df["horsepower"]=df["horsepower"].astype("float")

In [21]:
#To fill horsepower from mean of horsepower
df["horsepower"].fillna(df["horsepower"].mean(),inplace=True)

In [22]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.1+ KB

In [24]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [25]:
#separate numeric type column and object type(categorical type) column
df_num=df.select_dtypes(["int64","float64"])
df_cat=df.select_dtypes(object)

In [26]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 9 columns):
symboling            205 non-null int64
normalized-losses    205 non-null float64
width                205 non-null float64
height               205 non-null float64
engine-size          205 non-null int64
horsepower           205 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(4), int64(5)
memory usage: 14.5 KB

In [27]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
make               205 non-null object
fuel-type          205 non-null object
body-style         205 non-null object
drive-wheels       205 non-null object
engine-location    205 non-null object
engine-type        205 non-null object
dtypes: object(6)
memory usage: 9.7+ KB

In [28]:
#Change object type data into numerical type with the help of LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [29]:
for col in df_cat:
    #create the object of LabelEncoder class
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [30]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [31]:
#concatenate means merge both df_num and df_cat dataset and hold new dataset 
#df_new
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [32]:
#BaseLine Model with linear regression

In [33]:
#Separate Input variable and output variable from dataset df_new
X=df_new.drop("price",axis=1)
Y=df_new["price"]

In [34]:
#Train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
#Create object of LinearRegression class
lr=LinearRegression()

In [37]:
#train the model
#Training
lr.fit(X_train,Y_train)

LinearRegression()

In [38]:

#To check score of model
lr.score(X_test,Y_test)

0.796556678039738

In [39]:
#Good score

In [40]:
#Apply Feature Selection Technique 
#Apply ANOVA TEST
from sklearn.feature_selection import f_regression #if ANOVA Test
from sklearn.feature_selection import SelectKBest

In [41]:
#Formula of ANOVA Test 
#F-Test=variance between the group/variance within the group
#ANOVA Test is also called F-test or F-statistics
#ANoVA means analysis of variance

In [42]:
#Create the object of SelectKBest  class
anova=SelectKBest(score_func=f_regression,k=6) #k means select imp features
#select imp input 6 out of 14 input

In [43]:
#select 6 imp input features
X_train_imp=anova.fit_transform(X_train,Y_train)

In [44]:
X_test_imp=anova.transform(X_test)

In [45]:
anova.get_support()  #To show imp input features ,return answer in
#boolean for means True/False

array([False, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True, False, False])

In [46]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [47]:
#Again object of LinearRegression class
lr1=LinearRegression()

In [48]:
#Train the model
lr1.fit(X_train_imp,Y_train)

LinearRegression()

In [49]:
#check score
lr1.score(X_test_imp,Y_test)

0.7982503502453706

In [50]:
#previous score=.79 when take 14 features

In [51]:
#3. CHI-Square Test :  This is third method of Filter method of Feature
#Selection Technique

from sklearn.feature_selection import chi2

In [52]:
#Create the object of SelectKBest  class
chi=SelectKBest(score_func=chi2,k=6) #k means select imp features
#select imp input 6 out of 14 input

In [53]:
#select 6 imp input features
#X_train_chi=chi.fit_transform(X_train,Y_train)
#show error , because chi-2 always apply +ve value here -ve value in 
#any one input column

In [54]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [55]:
X.shape

(205, 14)

In [56]:
#To check -ve value at each input column
for col in X:
    v=df_new[col].unique()
    print(col)
    print(v)

symboling
[ 3  1  2  0 -1 -2]
normalized-losses
[122. 164. 158. 192. 188. 121.  98.  81. 118. 148. 110. 145. 137. 101.
  78. 106.  85. 107. 104. 113. 150. 129. 115.  93. 142. 161. 153. 125.
 128. 103. 168. 108. 194. 231. 119. 154.  74. 186.  83. 102.  89.  87.
  77.  91. 134.  65. 197.  90.  94. 256.  95.]
width
[64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
height
[48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
engine-size
[130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
horsepower
[111.         154.         102.         115.         110.
 140.         160.         101.         121.         182.
  48.          70.          68.          88.         145.
  58.          76.          60.          86.         100.
  78.          90.         176.         262.         135.
  84.          64.         120.          72.         123.
 155.         184.         175.         116.          69.
  55.          97.         152.         200.          95.
 142.         143.         207.         288.         104.25615764
  73.          82.          94.          62.          56.
 112.          92.         161.         156.          52.
  85.         114.         162.         134.         106.        ]
city-mpg
[21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
highway-mpg
[27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
make
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]
fuel-type
[1 0]
body-style
[0 2 3 4 1]
drive-wheels
[2 1 0]
engine-location
[0 1]
engine-type
[0 5 3 2 6 4 1]

In [57]:
#Chi-2 Test not work in Automobile dataset because value of symbolic column 
#is -ve means CHI-square test always work on +ve value

In [58]:
#Feature Selection
'''1. Filter Method
A. Correlation coefficient   B. ANOVA Test  C. CHI-2 Test
2. Wrapper Method : There are 2 types of Wrapper method:-
A. Forward selection   B. Backward Selection
'''

'1. Filter Method\nA. Correlation coefficient   B. ANOVA Test  C. CHI-2 Test\n2. Wrapper Method : There are 2 types of Wrapper method:-\nA. Forward selection   B. Backward Selection\n'

In [59]:
#2. Wrapper Method 
#Difference between Filter Method and wrapper method : -
''' In filter method, First We select best features Then we create model
But Wrapper method , First we create the model then we select imp features'''

' In filter method, First We select best features Then we create model\nBut Wrapper method , First we create the model then we select imp features'

In [60]:
#1. Forward Selection : - How its work

In [61]:
#we donot use inbuilt function in forward selection
#We create a empty list  for the columns
columns=[]

In [62]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [63]:
for col in X:
    print(col)

symboling
normalized-losses
width
height
engine-size
horsepower
city-mpg
highway-mpg
make
fuel-type
body-style
drive-wheels
engine-location
engine-type

In [64]:
columns=[] #declare empty list
for col in X:
    columns.append(col)
    print(columns)

['symboling']
['symboling', 'normalized-losses']
['symboling', 'normalized-losses', 'width']
['symboling', 'normalized-losses', 'width', 'height']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location', 'engine-type']

In [65]:
#Forward selection
columns=[] #declare empty list
for col in X:
    columns.append(col)
    X_new=df_new[columns]
    #Train_test_split
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #Create object of LinearRegression class
    lr=LinearRegression()
    #train the model
    lr.fit(X_train,Y_train)
    #check score
    score=lr.score(X_test,Y_test)
    print("Column name : ",col ,"Score : ",score)

Column name :  symboling Score :  -0.0017837050450488778
Column name :  normalized-losses Score :  0.041612508167990114
Column name :  width Score :  0.6171737569085425
Column name :  height Score :  0.6183283499764451
Column name :  engine-size Score :  0.7589560567217415
Column name :  horsepower Score :  0.774154633832667
Column name :  city-mpg Score :  0.7768961441883279
Column name :  highway-mpg Score :  0.7777776382689499
Column name :  make Score :  0.7924572281432336
Column name :  fuel-type Score :  0.7948545416112249
Column name :  body-style Score :  0.7972954924014395
Column name :  drive-wheels Score :  0.8135463420259215
Column name :  engine-location Score :  0.793445670343828
Column name :  engine-type Score :  0.796556678039738

In [66]:
#IMp Input features :
#Width ,engine-size,horsepower,make,drive-wheels

In [67]:
#BAckward selection : -  Backward selection is exactly opposite of forward
#selection We create a model with all the input features and every iteration 
#we keep removing the input features

In [68]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [69]:
X.shape

(205, 14)

In [70]:
#Apply Backward Selection
X_new=X
n_col=X_new.shape[1] #no. of columns
print(n_col)
for i in range(n_col,0,-1):
    
    X_train,X_test,y_train,y_test = train_test_split(X_new,Y,test_size=0.3,
                                                     random_state=1)
    #create a object of LinearRegression
    lin=LinearRegression()
    #we train the model
    lin.fit(X_train,y_train)
    #find the score
    score1=lin.score(X_test,y_test)
    print("Column : ",i, " Score : ",score1)
    X_new=X_new.iloc[:,:-1]
    print("After Remove Column")

14
Column :  14  Score :  0.796556678039738
After Remove Column
Column :  13  Score :  0.793445670343828
After Remove Column
Column :  12  Score :  0.8135463420259215
After Remove Column
Column :  11  Score :  0.7972954924014395
After Remove Column
Column :  10  Score :  0.7948545416112249
After Remove Column
Column :  9  Score :  0.7924572281432336
After Remove Column
Column :  8  Score :  0.7777776382689499
After Remove Column
Column :  7  Score :  0.7768961441883279
After Remove Column
Column :  6  Score :  0.774154633832667
After Remove Column
Column :  5  Score :  0.7589560567217415
After Remove Column
Column :  4  Score :  0.6183283499764451
After Remove Column
Column :  3  Score :  0.6171737569085425
After Remove Column
Column :  2  Score :  0.041612508167990114
After Remove Column
Column :  1  Score :  -0.0017837050450488778
After Remove Column

In [71]:
#3. Embedding Method : This is 3rd technique of Feature selection
#1. Regularization : 1. Lasso and 2. Ridge
#2. Decision Tree :

In [72]:
#4. PCA : principal Component analysis This is 4th technique of fetaure 
#selection

In [73]:
'''PCA is helpful to select the imp features, this technique is used only
Regression algorithm where predict contineous numerical value'''

'PCA is helpful to select the imp features, this technique is used only\nRegression algorithm where predict contineous numerical value'

In [74]:
#Separate Input variable and output variable from dataset df_new
X=df_new.drop("price",axis=1)
Y=df_new["price"]

In [75]:
#PCA work as Eigen matrix or Eigen vector
# PCA is a linear components of a features .
#First import library
from sklearn.decomposition import PCA

In [76]:
#Create the object of PCA class
pc=PCA(n_components=12,random_state=1)
#n_components means How many principal components

In [77]:
#Train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [78]:
#Training set (select 12 imp features out of 14)
X_train_pc=pc.fit_transform(X_train,Y_train)

In [79]:
#Testing set
X_test_pc=pc.transform(X_test)

In [80]:
#Perform with Linear Regression
#create object of LinearRegression class
lr1=LinearRegression()

In [81]:
#we train the model
lr1.fit(X_train_pc,Y_train)

LinearRegression()

In [82]:
#Check score
lr1.score(X_test_pc,Y_test)

0.8152074680020288

In [ ]:
!pip install imblearn