In [ ]:
#Backward selection (Feature selection) : apply on regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv("advertising.csv")

In [5]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
df.drop("Unnamed: 0",inplace=True,axis=1)

In [7]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [8]:
X=df.drop("sales",axis=1)
Y=df["sales"]

In [10]:
X.shape

(200, 3)

In [11]:
X.columns

Index(['TV', 'radio', 'newspaper'], dtype='object')

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
#Apply Backward Selection
X_new=X
n_col=X_new.shape[1]
print(n_col)
for i in range(n_col,0,-1):
    
    X_train,X_test,y_train,y_test = train_test_split(X_new,Y,test_size=0.3,
                                                     random_state=1)
    #create a object of LinearRegression
    lin=LinearRegression()
    #we train the model
    lin.fit(X_train,y_train)
    #find the score
    score1=lin.score(X_test,y_test)
    print("Column : ",i, " Score : ",score1)
    X_new=X_new.iloc[:,:-1]
    print("After Remove Column")

3
Column :  3  Score :  0.9224605706201434
After Remove Column
Column :  2  Score :  0.92303218502568
After Remove Column
Column :  1  Score :  0.575061860494331
After Remove Column

In [ ]:
#Input features imp: TV,radio