In [ ]:
#cust_data.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df2=pd.read_csv("cust_data.csv")

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149902 entries, 0 to 149901
Data columns (total 10 columns):
ID                                      149902 non-null int64
SeriousDlqin2yrs                        149902 non-null int64
RevolvingUtilizationOfUnsecuredLines    149902 non-null float64
NumberOfTime30_59DaysPastDueNotWorse    149902 non-null int64
DebtRatio                               149902 non-null float64
MonthlyIncome                           120191 non-null float64
NumberOfOpenCreditLinesAndLoans         149902 non-null int64
NumberOfTimes90DaysLate                 149902 non-null int64
NumberRealEstateLoansOrLines            149902 non-null int64
NumberOfTime60_89DaysPastDueNotWorse    149902 non-null int64
dtypes: float64(3), int64(7)
memory usage: 11.4 MB

In [4]:
df2.head()

,ID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0

In [5]:
df2.isnull().sum()

ID                                          0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
NumberOfTime30_59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29711
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60_89DaysPastDueNotWorse        0
dtype: int64

In [6]:
#find percentage of null values in MonthlyIncome columns
df2["MonthlyIncome"].isnull().sum()/df2.shape[0]*100

19.820282584621953

In [7]:
df2["MonthlyIncome"].unique()

array([11500., 14166.,  6733., ..., 14672.,  1637., 21083.])

In [8]:
df2["MonthlyIncome"].fillna(df2["MonthlyIncome"].mean(),inplace=True)

In [9]:
df2.head()

,ID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0

In [10]:
df2.isnull().sum()

ID                                      0
SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
NumberOfTime30_59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60_89DaysPastDueNotWorse    0
dtype: int64

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149902 entries, 0 to 149901
Data columns (total 10 columns):
ID                                      149902 non-null int64
SeriousDlqin2yrs                        149902 non-null int64
RevolvingUtilizationOfUnsecuredLines    149902 non-null float64
NumberOfTime30_59DaysPastDueNotWorse    149902 non-null int64
DebtRatio                               149902 non-null float64
MonthlyIncome                           149902 non-null float64
NumberOfOpenCreditLinesAndLoans         149902 non-null int64
NumberOfTimes90DaysLate                 149902 non-null int64
NumberRealEstateLoansOrLines            149902 non-null int64
NumberOfTime60_89DaysPastDueNotWorse    149902 non-null int64
dtypes: float64(3), int64(7)
memory usage: 11.4 MB

In [12]:
#to remove unwanted column ID 
df2.drop("ID",axis=1,inplace=True)

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149902 entries, 0 to 149901
Data columns (total 9 columns):
SeriousDlqin2yrs                        149902 non-null int64
RevolvingUtilizationOfUnsecuredLines    149902 non-null float64
NumberOfTime30_59DaysPastDueNotWorse    149902 non-null int64
DebtRatio                               149902 non-null float64
MonthlyIncome                           149902 non-null float64
NumberOfOpenCreditLinesAndLoans         149902 non-null int64
NumberOfTimes90DaysLate                 149902 non-null int64
NumberRealEstateLoansOrLines            149902 non-null int64
NumberOfTime60_89DaysPastDueNotWorse    149902 non-null int64
dtypes: float64(3), int64(6)
memory usage: 10.3 MB

In [14]:
df2.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse
0,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,0,0.211186,0,0.022283,2557.0,3,0,0,0