In [1]:
#bank.csv dataset 
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("bank.csv")

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [4]:
# decide Input and output(target)variable
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [6]:
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3

In [7]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: deposit, dtype: int64

In [8]:
#split dataset into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [9]:
#Create a function 
def create_model(model):  #passing argument and return value
    model.fit(X_train,Y_train)
    y_pred=model.predict(X_test)
    print(classification_report(Y_test,y_pred))
    return model

In [10]:
#Create object of decision tree 
from sklearn.tree import DecisionTreeClassifier
dt1=DecisionTreeClassifier()

In [12]:
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings("ignore")
#We create a decision tree model then call create_model() function
dt1=create_model(dt1)

              precision    recall  f1-score   support

           0       0.79      0.80      0.80      1760
           1       0.78      0.77      0.77      1589

    accuracy                           0.79      3349
   macro avg       0.79      0.79      0.79      3349
weighted avg       0.79      0.79      0.79      3349

In [ ]:
#How we reduced a overfitting Then using the pruning technique

# PRUNING TECHNIQUE

In [17]:
#First PRUNING TECHNIQUE : max_depth()
dt2=DecisionTreeClassifier(max_depth=8) # max_depth is not more than 8
#call function create_model()
dt2=create_model(dt2)

              precision    recall  f1-score   support

           0       0.82      0.83      0.83      1760
           1       0.81      0.80      0.81      1589

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349

In [18]:
# second technique of pruning :
#min_samples_leaf
dt3=DecisionTreeClassifier(min_samples_leaf=50) 
#call function create_model()
dt3=create_model(dt3)

              precision    recall  f1-score   support

           0       0.87      0.78      0.82      1760
           1       0.78      0.87      0.83      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

In [19]:
#Third technique of  pruning : Entropy
#We can also check Entropy
dt4=DecisionTreeClassifier(min_samples_leaf=50,criterion="entropy") 
#call function create_model()
dt4=create_model(dt4)

              precision    recall  f1-score   support

           0       0.84      0.82      0.83      1760
           1       0.81      0.82      0.81      1589

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349