In [1]:
#create dictionary  for student
student={"rollno":120,"name":"ramesh","age":24,"city":"mumbai"}

In [2]:
print(student)

{'rollno': 120, 'name': 'ramesh', 'age': 24, 'city': 'mumbai'}

In [3]:
#we use the values( ) function to return values of dictionary 
for x in student.values():
    print(x)

120
ramesh
24
mumbai

In [4]:
#Add new column in existing dictionary student
student["mobile"]=9827373371

In [5]:
student

{'rollno': 120,
 'name': 'ramesh',
 'age': 24,
 'city': 'mumbai',
 'mobile': 9827373371}

In [6]:
#to update the value of age means replace old value of age with 26
student["age"]=26

In [7]:
student

{'rollno': 120,
 'name': 'ramesh',
 'age': 26,
 'city': 'mumbai',
 'mobile': 9827373371}

In [8]:
#delete element from dictionary 
#popitem( ) inbuilt method of dictionary , its remove last item of dictionary ,
#return (key,value)
print(student.popitem())

('mobile', 9827373371)

In [9]:
print(student)

{'rollno': 120, 'name': 'ramesh', 'age': 26, 'city': 'mumbai'}

In [10]:
#Remove a particular item,return its value
print(student.pop("age"))

26

In [11]:
student

{'rollno': 120, 'name': 'ramesh', 'city': 'mumbai'}

In [12]:
student["pincode"]=450021

In [13]:
student

{'rollno': 120, 'name': 'ramesh', 'city': 'mumbai', 'pincode': 450021}

In [14]:
student.clear()  #remove all items from dictionary

In [15]:
student

{}

In [16]:
del student  # delete dictionary permanently from memory

In [17]:
student

NameError: name 'student' is not defined

In [ ]:
#create dictionary of 3 students 
student={"rollno":[110,120,130],"name":["Ram","Sohan","Mohan"],"Age":[21,23,25]}

In [ ]:
print(student)

In [ ]:
print(student["rollno"])

# Lecture 21-10-2020

#Create a Dictionary with Multiple Entries

In [ ]:
#to store entries of multiple employees
Employee={"Empno":[110,120,130,140,150],"Empname":["Anu","Reeta","Deepak",
                                                  "Tina","Pankaj"],
         "Salary":[34000,65000,54000,23000,36000]}

In [ ]:
print(Employee)

In [ ]:
#To display empno and salary
print(Employee["Empno"],Employee["Salary"])

In [ ]:
A={}#empty dictionary

In [ ]:
type(A)

In [ ]:
A[0]=1   #A[key]=value
A[1]=1
A[2]=4
A[3]=9
A[4]=16

In [ ]:
A

In [ ]:
#update A[0]
A[0]=0

In [ ]:
A

In [ ]:
#WAP to square of first 5 natural no. and hold output in dictionary key:value
#Use iteration means for loop
s={ }  #declare empty Dictionary
for x in range(1,6):            #x=1  x=2  x=3  x=4  x=5 
    s[x]=x*x   #s[x]=x**2   #s[1]=1 s[2]=4
print(s)

In [ ]:
for x,y in s.items():
    print(x,":",y)

In [ ]:
#Dictionary Comprehension

In [ ]:
#WAP to square of first 5 natural no. and hold output in dictionary key:value
#Use Dictionary Comprehension

s={x:x**2 for x in range(1,6)}
print(s)

#syntax of dictionary comprehension 
#dicname={key : expression means value for var in iterable}

In [ ]:
#WAP to find the square of even no. from 1-5 and hold in dictionary
#use iterating
a={} #declare empty dictionary
for x in range(1,6):
    if(x%2==0):
        a[x]=x**2
print(a)

In [ ]:
#WAP to find the square of even no. from 1-5 and hold in dictionary
#use dictionary comprehension
a={x:x**2 for x in range(1,6) if(x%2==0)}
print(a)

In [ ]:
c="red"
c=c*3
print(c)

In [ ]:
x={c:c*3 for c in "RED"}
print(x)

In [ ]:
color=["ReD","GrEeN","BlUe"] #color is list object
D={c.lower():c.upper() for c in color}
print(D)

In [ ]:
a={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F',7:'G'}
print(a)
selectkeys=[1,3,6] #list create 
#create another dictionary which storekey:value of selectkeys from dictionary a
x={k:a[k] for k in selectkeys}  #k=1  a[1]  k=3 a[3]  k=6  a[6]
print(x)

In [ ]:
#how to create a set : 
a={1,2,3} #set of integers
print(a)

In [ ]:
#set of mixed datatype
a={2.0,"Hello", (2,3,4)}
print(a)

In [ ]:
a={12,13,14,12,56,67,14}
print(a)

In [ ]:
print(a)

In [ ]:
print(a[0]) #unordered collection

In [ ]:
#to retrieve value from set using iterating
a={12,13,14,12,56,67,14}
print(a)
for x in a: 
    print(x)

In [ ]:
a.pop() #delete first element

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a.remove(14)

In [ ]:
a

In [ ]:
a.pop(2) #it is not possible in set but it is possible in list

# Lecture 22-10-2020

In [ ]:
#create set
a={2,4,5,7,8,9,2,3}

In [ ]:
a

In [ ]:
#remove() of set : to delete any element from set setname.remove(element)
#but pop() :  delete first element of set

In [ ]:
a.remove(5)

In [ ]:
a

In [ ]:
a.remove(10) #error show , if value not found

In [ ]:
a.discard(10) #not show error , if value not found in set

In [ ]:
a.discard(7)

In [ ]:
a

In [ ]:
#add( ) to add new element in set
a={2,56,78,12,34,90}

In [ ]:
a

In [ ]:
#to add new element 87 in exisiting set
a.add(87)

In [ ]:
a

In [ ]:
a.update([45,60,20,2]) #to add more than one value

In [ ]:
a

In [ ]:
#Set Operations (Apply atleast 2 set)
#1. union    2. intersection   3. difference  4. Symmetric difference

In [ ]:
a={10,20,30,40,50}
b={10,80,90,70,20}

In [ ]:
#union
print(a|b)  #union |

In [ ]:
a.union(b)

In [ ]:
#intersection  :  use &
a&b

In [ ]:
a.intersection(b)

In [ ]:
a

In [ ]:
b

In [ ]:
#difference : use - or difference
a-b

In [ ]:
b-a

In [ ]:
a.difference(b)

In [ ]:
a

In [ ]:
b

In [ ]:
#symmetric difference  use ^
print(a^b)

In [ ]:
a.symmetric_difference(b)

In [ ]:
a

In [ ]:
max(a) #to find the maximum no. from set

In [ ]:
min(a)

In [ ]:
len(a) #to find the no. of elements in set

In [ ]:
a={8}

In [ ]:
b={8}

In [ ]:
a^b

In [ ]:
#frozen set 
#frozenset()  inbuilt function ,it is immutable means to any changes possible
#means no add new element and on any element delete

In [ ]:
#tuple of number
a=(1,2,3,4,5,6,7,8,9)
#convert tuple to frozenset
f=frozenset(a)
print("frozen set : ",f)

In [ ]:
#add element 10 in frozen set f
f.add(10)  #show error because it is immutable

In [ ]:
#create dictionary
student={"rollno":120,"name":"ankit","age":23,"city":"mumbai"}

In [ ]:
student

In [ ]:
#making key of dictionary as frozenset
key=frozenset(student)
key

In [ ]:
A=frozenset([10,20,30,40])
B=frozenset([20,40,60,80])
print(A)
print(B)
#copying a frozenset
C=A.copy()
print(C)
#union
print(A.union(B))

In [ ]:
A.intersection(B)

In [ ]:
A.difference(B)

In [ ]:
A.symmetric_difference(B)

In [ ]:
#in set :  isdisjoint( ) : return true /false
a=set([10,20,30,40])
b={50,60,70}

In [ ]:
a

In [ ]:
b

In [ ]:
a.isdisjoint(b)

In [ ]:
c=(10,100,200,300)

In [ ]:
a

In [ ]:
a.isdisjoint(c)

In [18]:
#issubset() < or <= 
a={10,20,30,40,50,60,70,80}
b={30,40}

In [19]:
a.issubset(b)

False

In [ ]:
a<b  #a<=b

In [20]:
b.issubset(a)

True

In [21]:
b<a

True

In [22]:
#issuperset() means > or >=
a.issuperset(b)

True

In [23]:
a>b

True

In [25]:
[int(i) for i in str(123)]

[1, 2, 3]