In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#To load the dataset
df=pd.read_csv("Ecommerce Customers.csv")

In [3]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
Email                   500 non-null object
Address                 500 non-null object
Avatar                  500 non-null object
Avg. Session Length     500 non-null float64
Time on App             500 non-null float64
Time on Website         500 non-null float64
Length of Membership    500 non-null float64
Yearly Amount Spent     500 non-null float64
dtypes: float64(5), object(3)
memory usage: 31.3+ KB

In [5]:
df.isnull().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [6]:
#separate numerical and categorical data
df_num=df.select_dtypes(["float64"])
df_cat=df.select_dtypes(object)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[[col]])

In [9]:
df_cat.head()

   Email  Address  Avatar
0    342      381     132
1    190      226      25
2    355      123       6
3    391       62     114
4    341       60      80

In [10]:
#merge two table
df_new=pd.concat([df_num,df_cat],axis=1)

In [11]:
df_new.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Email,Address,Avatar
0,34.497268,12.655651,39.577668,4.082621,587.951054,342,381,132
1,31.926272,11.109461,37.268959,2.664034,392.204933,190,226,25
2,33.000915,11.330278,37.110597,4.104543,487.547505,355,123,6
3,34.305557,13.717514,36.721283,3.120179,581.852344,391,62,114
4,33.330673,12.795189,37.536653,4.446308,599.406092,341,60,80

In [12]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
Avg. Session Length     500 non-null float64
Time on App             500 non-null float64
Time on Website         500 non-null float64
Length of Membership    500 non-null float64
Yearly Amount Spent     500 non-null float64
Email                   500 non-null int32
Address                 500 non-null int32
Avatar                  500 non-null int32
dtypes: float64(5), int32(3)
memory usage: 25.5 KB

In [13]:
#we will separate the independent and dependent data from the dataset df_new
X=df_new.drop("Yearly Amount Spent",axis=1)
Y=df_new["Yearly Amount Spent"]

In [14]:
#train_test_split: 70% & 30%
from sklearn.model_selection import train_test_split

In [15]:
#we will train the dataset df_new
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [16]:
from sklearn.metrics import classification_report

In [17]:
def create_model(model):
    model.fit(X_train,Y_train)  #train the data
    y_pred=model.predict(X_test) #test the data
    print(classification_report(Y_test,y_pred))
    return model

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
lr=LogisticRegression()

In [20]:
create_model(lr)

ValueError: Unknown label type: 'continuous'