In [ ]:
#Enseambling Technique (Stacking)

In [ ]:
#!pip install mlxtend

In [1]:
from mlxtend.classifier import StackingClassifier

In [ ]:
#bank.csv dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("bank.csv")

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [6]:
X=df.drop("deposit",axis=1)
Y=df["deposit"]

In [7]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [8]:
from sklearn.metrics import classification_report

In [18]:
#Create a function 
def create_model(model):  #passing argument and return value
    model.fit(X_train,Y_train)
    y_pred=model.predict(X_test)
    print(classification_report(Y_test,y_pred))
    return model

In [ ]:
#Stacking ensembleng technique

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [26]:
#Create object of LogisticRegression
lr=LogisticRegression()
#Create object of DecisionTreeClassifier
dt1=DecisionTreeClassifier() #by default gini index
#Create object of DecisionTreeClassifier(Entropy)
dt2=DecisionTreeClassifier(criterion='entropy')

In [27]:
#create a model List
#model_list=[("Logistic1",lr),("DecisionTree",dt1),("DecisionTree(entropy)",dt2)]

In [31]:
model_list=[lr,dt1,dt2]#only pass object of 3 different model

In [32]:
#use metaclassifier : LogisticRegression
meta=LogisticRegression()

In [33]:
#Create object of StackClassifier class and passing arguments/parameters
sc=StackingClassifier(classifiers=model_list,meta_classifier=meta)

In [34]:
#call function
create_model(sc)

              precision    recall  f1-score   support

           0       0.83      0.82      0.83      1760
           1       0.80      0.81      0.81      1589

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349

StackingClassifier(classifiers=[LogisticRegression(), DecisionTreeClassifier(),
                                DecisionTreeClassifier(criterion='entropy')],
                   meta_classifier=LogisticRegression())