In [1]:
#Feature  Selection Technique 
'''1. Filter Method
   A. Correlation-cofficient
   B. ANOVA TEST
   C. CHI-Square TEST
   
   2. Wrapper Method 
   A. Forward Selection
   B  Backward Selection
   
   3. Embedded Methods 
   A. Ridge and Lasso Regularisation
   B. Decision Tree
   
   4.PCA means Principal Component Analysis'''

'1. Filter Method\n   A. Correlation-cofficient\n   B. ANOVA TEST\n   C. CHI-Square TEST\n   \n   2. Wrapper Method \n   A. Forward Selection\n   B  Backward Selection\n   \n   3. Embedded Methods \n   A. Ridge and Lasso Regularisation\n   B. Decision Tree\n   \n   4.PCA means Principal Component Analysis'

In [2]:
#Filter Method
#2. ANOVA TEST : Analysis of variance
#Automobile_data.csv

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [4]:
#Load dataset
df=pd.read_csv("Automobile_data.csv")

In [5]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [6]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [8]:
df["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [9]:
#Replace ? with null value in normalized_losses column  permanently change
df["normalized-losses"].replace("?",np.nan,inplace=True)

In [10]:
#check
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    164 non-null object
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [12]:
#To change the datatype of Normalized_losses from object to float
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [13]:
#To fill Normalized_losses from mean of Normalized_losses 
df["normalized-losses"].fillna(df["normalized-losses"].mean(),inplace=True)

In [14]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.1+ KB

In [16]:
df["horsepower"].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [17]:
df["horsepower"].value_counts()

68     19
70     11
69     10
116     9
110     8
95      7
62      6
88      6
114     6
101     6
160     6
102     5
82      5
145     5
76      5
84      5
97      5
86      4
111     4
92      4
123     4
73      3
152     3
90      3
85      3
121     3
207     3
182     3
94      2
162     2
161     2
156     2
?       2
155     2
56      2
112     2
100     2
184     2
52      2
176     2
143     1
78      1
64      1
115     1
60      1
175     1
72      1
200     1
262     1
58      1
134     1
140     1
142     1
106     1
154     1
55      1
48      1
135     1
288     1
120     1
Name: horsepower, dtype: int64

In [18]:
#Replace ? with null value in horsepower column  permanently change
df["horsepower"].replace("?",np.nan,inplace=True)

In [19]:
#To change the datatype of horsepower from object to float
df["horsepower"]=df["horsepower"].astype("float")

In [20]:
#To fill horsepower from mean of horsepower
df["horsepower"].fillna(df["horsepower"].mean(),inplace=True)

In [21]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
symboling            205 non-null int64
normalized-losses    205 non-null float64
make                 205 non-null object
fuel-type            205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
width                205 non-null float64
height               205 non-null float64
engine-type          205 non-null object
engine-size          205 non-null int64
horsepower           205 non-null float64
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.1+ KB

In [23]:
#separate numeric type column and object type(categorical type) column from df
df_num=df.select_dtypes(["int64","float64"])
df_cat=df.select_dtypes(object)

In [24]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
make               205 non-null object
fuel-type          205 non-null object
body-style         205 non-null object
drive-wheels       205 non-null object
engine-location    205 non-null object
engine-type        205 non-null object
dtypes: object(6)
memory usage: 9.7+ KB

In [25]:
#Change object type data(categorical data) into numerical type with the 
#help of LabelEncoder class
from sklearn.preprocessing import LabelEncoder

In [26]:
for col in df_cat:
    #create the object of LabelEncoder class
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [27]:
df_cat.head(20)

    make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0      0          1           0             2                0            0
1      0          1           0             2                0            0
2      0          1           2             2                0            5
3      1          1           3             1                0            3
4      1          1           3             0                0            3
5      1          1           3             1                0            3
6      1          1           3             1                0            3
7      1          1           4             1                0            3
8      1          1           3             1                0            3
9      1          1           2             0                0            3
10     2          1           3             2                0            3
11     2          1           3             2                0            3
12     2          1           3             2                0            3
13     2          1           3             2                0            3
14     2          1           3             2                0            3
15     2          1           3             2                0            3
16     2          1           3             2                0            3
17     2          1           3             2                0            3
18     3          1           2             1                0            2
19     3          1           2             1                0            3

In [28]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
make               205 non-null int32
fuel-type          205 non-null int32
body-style         205 non-null int32
drive-wheels       205 non-null int32
engine-location    205 non-null int32
engine-type        205 non-null int32
dtypes: int32(6)
memory usage: 4.9 KB

In [29]:
#concatenate means merge both df_num and df_cat dataset and hold new dataset 
#df_new  then use concat() inbuilt function of pandas library
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [30]:
#BaseLine Model with linear regression(Multiple Linear regression : many
#input and one output)

In [31]:
#Separate Input variable and output variable from dataset df_new
X=df_new.drop("price",axis=1) #input features
Y=df_new["price"] #target

In [32]:
#Train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
#Create object of LinearRegression class
lr=LinearRegression()

In [35]:
#train the model
#Training
lr.fit(X_train,Y_train)

LinearRegression()

In [36]:
#To check score of model
lr.score(X_test,Y_test)

0.796556678039738

In [37]:
#Good score but can be much more better

In [38]:
#Apply Feature Selection Technique 
#1. Filter Method
#Apply ANOVA TEST
from sklearn.feature_selection import SelectKBest
#SelectKBest inbuilt class , It is used for Anova and chi-2 test both

In [39]:
#USE ANOVA TEST : use inbuilt class f_regression 
from sklearn.feature_selection import f_regression

In [40]:
#Formula of ANOVA Test 
#F-Test=variance between the group/variance within the group
#ANOVA Test is also called F-test or F-statistics
#ANoVA means analysis of variance

In [41]:
#Create the object of SelectKBest class
anova=SelectKBest(score_func=f_regression,k=6) 
#here anova user defined object 
#k means select maximum features
#here given 10 out of 14 input features

In [42]:
X.shape  #no. of input features

(205, 14)

In [43]:
#we train the model with 10 important features then use inbuilt function
#fit_transform() od SelectKBest class
X_train_imp=anova.fit_transform(X_train,Y_train)
#X_train_imp : come in 10 imp features means it will return the selected imp
#column from X_train means anova test is perform and returns the 10 best columns 
#which stored in X_train_imp

In [44]:
#We do the testing data , only used transform() 
X_test_imp=anova.transform(X_test)

In [45]:
anova.get_support() #get_support() inbuilt method of
#SelectKBest class It is  show important input features ,return answer in
#boolean for means True/False

array([False, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True, False, False])

In [46]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [47]:
#Again train the model with LinearRegression(multiple)
#Again Create object of LinearRegression class after select imp features with the
#help of ANOVA Test
lr_anova=LinearRegression()

In [48]:
#train the model
#Training
lr_anova.fit(X_train_imp,Y_train)

LinearRegression()

In [49]:
#check score
#To check score of model
lr_anova.score(X_test_imp,Y_test)

0.7982503502453706

In [50]:
#CHI-Square Test : - 
#USE CHI-Square Test : use inbuilt class chi2 
from sklearn.feature_selection import chi2

In [51]:
#Create the object of SelectKBest class
chi=SelectKBest(score_func=chi2,k=6)  #k means slect imp features
#here total 14 input features but select 6 imp features
#chi user defined object

In [52]:
#we train the model with 6 important features then use inbuilt function
#fit_transform() od SelectKBest class
#X_train_chi=chi.fit_transform(X_train,Y_train)

In [53]:
#Chi-square test always work on +ve value 
#not wotk on -ve value
X.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,1,1,3,0,0,3

In [54]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [55]:
#check 
for col in X:
    print("Column Name: ",col)
    print(X[X[col]<0]) #to show details of those records whose -ve value

Column Name:  symboling
     symboling  normalized-losses  width  height  engine-size  horsepower  \
28          -1              110.0   64.6    59.8          122        88.0
67          -1               93.0   70.3    56.5          183       123.0
68          -1               93.0   70.3    58.7          183       123.0
70          -1               93.0   71.7    56.3          183       123.0
71          -1              122.0   71.7    56.5          234       155.0
88          -1              137.0   65.4    51.6          110       116.0
123         -1               74.0   64.6    59.8          122        88.0
173         -1               65.0   66.5    54.9          122        92.0
174         -1               65.0   66.5    54.9          110        73.0
175         -1               65.0   66.5    53.9          122        92.0
176         -1               65.0   66.5    54.9          122        92.0
177         -1               65.0   66.5    53.9          122        92.0
180         -1               90.0   66.5    54.1          171       156.0
181         -1              122.0   66.5    54.1          161       156.0
194         -2              103.0   67.2    56.2          141       114.0
195         -1               74.0   67.2    57.5          141       114.0
196         -2              103.0   67.2    56.2          141       114.0
197         -1               74.0   67.2    57.5          141       114.0
198         -2              103.0   67.2    56.2          130       162.0
199         -1               74.0   67.2    57.5          130       162.0
200         -1               95.0   68.9    55.5          141       114.0
201         -1               95.0   68.8    55.5          141       160.0
202         -1               95.0   68.9    55.5          173       134.0
203         -1               95.0   68.9    55.5          145       106.0
204         -1               95.0   68.9    55.5          141       114.0

     city-mpg  highway-mpg  make  fuel-type  body-style  drive-wheels  \
28         24           30     4          1           4             1
67         22           25     9          0           3             2
68         22           25     9          0           4             2
70         22           25     9          0           3             2
71         16           18     9          1           3             2
88         23           30    11          1           3             1
123        24           30    14          1           4             1
173        29           34    19          1           3             1
174        30           33    19          0           3             1
175        27           32    19          1           2             1
176        27           32    19          1           3             1
177        27           32    19          1           2             1
180        20           24    19          1           3             2
181        19           24    19          1           4             2
194        23           28    21          1           3             2
195        23           28    21          1           4             2
196        24           28    21          1           3             2
197        24           28    21          1           4             2
198        17           22    21          1           3             2
199        17           22    21          1           4             2
200        23           28    21          1           3             2
201        19           25    21          1           3             2
202        18           23    21          1           3             2
203        26           27    21          0           3             2
204        19           25    21          1           3             2

     engine-location  engine-type
28                 0            3
67                 0            3
68                 0            3
70                 0            3
71                 0            5
88                 0            3
123                0            3
173                0            3
174                0            3
175                0            3
176                0            3
177                0            3
180                0            0
181                0            0
194                0            3
195                0            3
196                0            3
197                0            3
198                0            3
199                0            3
200                0            3
201                0            3
202                0            5
203                0            3
204                0            3
Column Name:  normalized-losses
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  width
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  height
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  engine-size
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  horsepower
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  city-mpg
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  highway-mpg
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  make
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  fuel-type
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  body-style
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  drive-wheels
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  engine-location
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []
Column Name:  engine-type
Empty DataFrame
Columns: [symboling, normalized-losses, width, height, engine-size, horsepower, city-mpg, highway-mpg, make, fuel-type, body-style, drive-wheels, engine-location, engine-type]
Index: []

In [56]:
#2. Wrapper Method : this is a 2nd technique of feature selection
#Filter Method : First we select best features then we create model .
#but wrapper method just opposite work of filter method .
#wrapper method is very simple method 
#There are 2 types of wrapper methods :-
#1. Forward selection   2. Backward selection

In [57]:
#Forward Selection : - In forward selection , no any inbuilt methods are used
#means there are no inbuilt methods in forward selection . It is a basic and 
#simple. Yoy don't need any inbuilt functions that only knowledge of python
#in Python - for loop,list,conditional statement .

In [58]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [59]:
#Just create a code snapnet for forward selection : -
#We create the empty list for columns add
columns=[]
for col in X:
    columns.append(col)
    print(columns)

['symboling']
['symboling', 'normalized-losses']
['symboling', 'normalized-losses', 'width']
['symboling', 'normalized-losses', 'width', 'height']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location']
['symboling', 'normalized-losses', 'width', 'height', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location', 'engine-type']

In [60]:
columns=[]
for col in X:
    columns.append(col)
    X_new=df_new[columns] #input
    #lets call the train_test_split
    #Train_test_split
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #create the object of linear regression
    lr1=LinearRegression()
    #train the model use fit()
    lr1.fit(X_train,Y_train)
    #check score
    score=lr1.score(X_test,Y_test)
    print("Columns : ",col," Score : ",score)

Columns :  symboling  Score :  -0.0017837050450488778
Columns :  normalized-losses  Score :  0.041612508167990114
Columns :  width  Score :  0.6171737569085425
Columns :  height  Score :  0.6183283499764451
Columns :  engine-size  Score :  0.7589560567217415
Columns :  horsepower  Score :  0.774154633832667
Columns :  city-mpg  Score :  0.7768961441883279
Columns :  highway-mpg  Score :  0.7777776382689499
Columns :  make  Score :  0.7924572281432336
Columns :  fuel-type  Score :  0.7948545416112249
Columns :  body-style  Score :  0.7972954924014395
Columns :  drive-wheels  Score :  0.8135463420259215
Columns :  engine-location  Score :  0.793445670343828
Columns :  engine-type  Score :  0.796556678039738

In [61]:
#important features : width,engine-size,make and drive-wheels  is a imp
#input features to predict the output
#means Forward selection is very helpful in selecting the best features

In [62]:
#Lecture date 1-FEB-2021
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [63]:
X.shape

(205, 14)

In [66]:
#Apply Backward selection(Wrapper Method)
X_new=X
n_col=X_new.shape[1]  #shape[1] : no. of columns
print("No. of input columns : ",n_col)
for i in range(n_col,0,-1): #start=n_col means 14 step=n_col=n_col-1
    #lets call the train_test_split
    #Train_test_split
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
     #create the object of linear regression
    lr2=LinearRegression()
    #train the model use fit()
    lr2.fit(X_train,Y_train)
    #check score
    score1=lr2.score(X_test,Y_test)
    print("Columns : ",i," Score : ",score1)
    X_new=X_new.iloc[:,:-1] #iloc[startrow:stoprow,startcol,stopcol-1]
    print("After remove column")

No. of input columns :  14
Columns :  14  Score :  0.796556678039738
After remove column
Columns :  13  Score :  0.793445670343828
After remove column
Columns :  12  Score :  0.8135463420259215
After remove column
Columns :  11  Score :  0.7972954924014395
After remove column
Columns :  10  Score :  0.7948545416112249
After remove column
Columns :  9  Score :  0.7924572281432336
After remove column
Columns :  8  Score :  0.7777776382689499
After remove column
Columns :  7  Score :  0.7768961441883279
After remove column
Columns :  6  Score :  0.774154633832667
After remove column
Columns :  5  Score :  0.7589560567217415
After remove column
Columns :  4  Score :  0.6183283499764451
After remove column
Columns :  3  Score :  0.6171737569085425
After remove column
Columns :  2  Score :  0.041612508167990114
After remove column
Columns :  1  Score :  -0.0017837050450488778
After remove column