In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load dataset
df=pd.read_csv("salary.csv")

In [3]:
df.head()

,Unnamed: 0,age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [4]:
#drop the unnamed column
df=df.drop("Unnamed: 0",axis=1)

In [5]:
#check null values
df.isnull().sum()

age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [6]:
#to check columns with categorical data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1032 non-null   int64
 1   Workclass       1032 non-null   object
 2   fnlwgt          1032 non-null   int64
 3   education       1032 non-null   object
 4   education-num   1032 non-null   int64
 5   marital-status  1032 non-null   object
 6   occupation      1032 non-null   object
 7   relationship    1032 non-null   object
 8   race            1032 non-null   object
 9   sex             1032 non-null   object
 10  capital-gain    1032 non-null   int64
 11  capital-loss    1032 non-null   int64
 12  hours-per-week  1032 non-null   int64
 13  native-country  1032 non-null   object
 14  Income          1032 non-null   int64
dtypes: int64(7), object(8)
memory usage: 121.1+ KB

# Label Encoding (TO chnage categorial data to numeric)

In [7]:
#seperate categorical data from dataset
df_cat=df.select_dtypes(object)
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Workclass       1032 non-null   object
 1   education       1032 non-null   object
 2   marital-status  1032 non-null   object
 3   occupation      1032 non-null   object
 4   relationship    1032 non-null   object
 5   race            1032 non-null   object
 6   sex             1032 non-null   object
 7   native-country  1032 non-null   object
dtypes: object(8)
memory usage: 64.6+ KB

In [8]:
#call library for LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [9]:
#create object of LabelEncoder
le=LabelEncoder()

In [10]:
#chaging the categorical data
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [11]:
#seperate numerical data 
df_num=df.select_dtypes(["int64","float64"])

In [12]:
#merge the categorical and numerical data
df_new=pd.concat([df_num,df_cat],axis=1)
df_new

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Income,Workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,39,77516,13,2174,0,40,0,5,9,4,0,1,4,1,28
1,50,83311,13,0,0,13,0,4,9,2,3,0,4,1,28
2,38,215646,9,0,0,40,0,2,11,0,5,1,4,1,28
3,53,234721,7,0,0,40,0,2,1,2,5,0,2,1,28
4,28,338409,13,0,0,40,0,2,9,2,9,5,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,34,290763,9,0,0,40,0,2,11,0,5,3,4,0,28
1028,36,51100,10,0,0,40,0,2,15,2,2,0,4,1,28
1029,41,227644,9,0,0,50,0,2,11,2,13,0,4,1,28
1030,58,205267,13,0,0,40,1,1,9,2,9,5,4,0,28
1031,53,288020,13,0,0,40,0,2,9,2,9,0,1,1,18

In [13]:
#seperate the independent varibale X and dependent varibale Y
X=df_new.drop("Income",axis=1)
Y=df_new["Income"]

In [14]:
#split data fro training and testing 
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [15]:
#create a function for training and testing
def create_model(model):
    model.fit(X_train,Y_train)#to train
    y_pred=model.predict(X_test)
    print(classification_report(Y_test,y_pred))
    return model

In [16]:
# we have used classification report so we have to call the class for it
from sklearn.metrics import classification_report

# Baseline Model Using Logistic Regression

In [17]:
#call class for logistic regression
from sklearn.linear_model import LogisticRegression

In [20]:
#create object for LogisticRegression class
lr=LogisticRegression()

In [21]:
#call the function "create_model"(for training and testing)
create_model(lr)

              precision    recall  f1-score   support

           0       0.81      0.96      0.88       238
           1       0.68      0.26      0.38        72

    accuracy                           0.80       310
   macro avg       0.75      0.61      0.63       310
weighted avg       0.78      0.80      0.76       310

LogisticRegression()

# Desicion Tree

In [22]:
#call the class for DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

In [23]:
#create object of DecisionTreeClassifier class
dt=DecisionTreeClassifier()

In [24]:
#call function "create_model"(for training and testing)
dt=create_model(dt)

              precision    recall  f1-score   support

           0       0.87      0.85      0.86       238
           1       0.54      0.57      0.55        72

    accuracy                           0.79       310
   macro avg       0.70      0.71      0.71       310
weighted avg       0.79      0.79      0.79       310

Here the recall is not that good and each column has some information gain so the model is getting overfit
so we will apply all the purning technique

In [26]:
#(1) max_depth 
#we create a different object of DecisionTreeClasiifier and pass parameter for max_depth
dt1=DecisionTreeClassifier(max_depth=2) #not mpore than 8

In [27]:
#call function "create_model"(for training and testing)
dt1=create_model(dt1)

              precision    recall  f1-score   support

           0       0.79      0.95      0.87       238
           1       0.54      0.18      0.27        72

    accuracy                           0.77       310
   macro avg       0.67      0.57      0.57       310
weighted avg       0.74      0.77      0.73       310

In [28]:
#(2) min_sample_leaf
#we create a different object of DecisionTreeClasiifier and pass parameter for min_sample_leaf
dt2=DecisionTreeClassifier(min_samples_leaf=45) #min 50

In [29]:
#call function "create_model"(for training and testing)
dt2=create_model(dt2)

              precision    recall  f1-score   support

           0       0.89      0.84      0.86       238
           1       0.55      0.64      0.59        72

    accuracy                           0.80       310
   macro avg       0.72      0.74      0.73       310
weighted avg       0.81      0.80      0.80       310

# Decision Tree Entropy

In [30]:
#we create a different object of DecisionTreeClasiifier and pass parameter for entropy
dt3=DecisionTreeClassifier(min_samples_leaf=45,criterion="entropy") #min 50

In [33]:
#call function "create_model"(for training and testing)
dt3=create_model(dt3)

              precision    recall  f1-score   support

           0       0.88      0.85      0.87       238
           1       0.56      0.61      0.58        72

    accuracy                           0.80       310
   macro avg       0.72      0.73      0.72       310
weighted avg       0.80      0.80      0.80       310

# Ensembling Technique

# 1. AdaBoost

In [34]:
#call the class for adaboost
from sklearn.ensemble import AdaBoostClassifier

In [35]:
#create object of Adaboost
ada=AdaBoostClassifier(n_estimators=100)

In [36]:
#call function "create_model"
create_model(ada)

              precision    recall  f1-score   support

           0       0.89      0.89      0.89       238
           1       0.64      0.62      0.63        72

    accuracy                           0.83       310
   macro avg       0.77      0.76      0.76       310
weighted avg       0.83      0.83      0.83       310

AdaBoostClassifier(n_estimators=100)

# 2. Gradient Boost

In [43]:
#call the class for GradientBoost
from sklearn.ensemble import GradientBoostingClassifier

In [44]:
#create object of GradientBoostingClassifier
gbc=GradientBoostingClassifier(n_estimators=100)

In [45]:
#call function"create_model"
create_model(gbc)

TypeError: 'GradientBoostingClassifier' object is not callable