In [2]:
import pandas as pd

In [1]:
#merge dataframe : to join 2 or more dataframe 
#for eg.  
#We create dictionary d1 and d2
d1={"Name":["Anu","Deepak","Rohan","Meenu","Kiran","Rahul"],
    "Python":[89,90,87,76,99,80]}
d2={"Name":["Anu","Rohan","Meenu","Rahul"],"ML":[67,79,80,98]}

In [3]:
#convert dictionart d1 and d2 into dataframe
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)

In [6]:
print(df1)

     Name  Python
0     Anu      89
1  Deepak      90
2   Rohan      87
3   Meenu      76
4   Kiran      99
5   Rahul      80

In [7]:
print(df2)

    Name  ML
0    Anu  67
1  Rohan  79
2  Meenu  80
3  Rahul  98

In [9]:
#Name column is common column in both dataframe then merge on common column
#Name and store in new DataFrame df3
#Equal join 
df3=pd.merge(df1,df2,on="Name") #how="equal"
print(df3)

    Name  Python  ML
0    Anu      89  67
1  Rohan      87  79
2  Meenu      76  80
3  Rahul      80  98

In [10]:
#outer merge 
df4=pd.merge(df1,df2,on="Name",how="outer")
print(df4)

     Name  Python    ML
0     Anu      89  67.0
1  Deepak      90   NaN
2   Rohan      87  79.0
3   Meenu      76  80.0
4   Kiran      99   NaN
5   Rahul      80  98.0

In [12]:
#Append : 
d1={"Name":["Suresh","Kamal","Rekha"],"Course":["Python","R","Python"]}
#converts dict d1 into dataframe df1
df1=pd.DataFrame(d1)
print(df1)

     Name  Course
0  Suresh  Python
1   Kamal       R
2   Rekha  Python

In [13]:
d2={"Name":["Pankaj","Hina","Tina","Kiran"],"Course":["ML","R","Python","ML"]}
#converts dict d2 into dataframe df2
df2=pd.DataFrame(d2)
print(df2)

     Name  Course
0  Pankaj      ML
1    Hina       R
2    Tina  Python
3   Kiran      ML

In [15]:
#Append 
df3=df1.append(df2)
print(df3)

     Name  Course
0  Suresh  Python
1   Kamal       R
2   Rekha  Python
0  Pankaj      ML
1    Hina       R
2    Tina  Python
3   Kiran      ML

In [16]:
#Append 
df3=df1.append(df2,ignore_index=True)
print(df3)

     Name  Course
0  Suresh  Python
1   Kamal       R
2   Rekha  Python
3  Pankaj      ML
4    Hina       R
5    Tina  Python
6   Kiran      ML