In [1]:
#next chapter : Pandas : -
'''pandas is an open source python's library ,providing high performance 
Data manipulation and data analysis tools using its powerful structure '''

"pandas is an open source python's library ,providing high performance \nData manipulation and data analysis tools using its powerful structure "

In [2]:
''' Use of pandas library : -
1. Cleaning the data 
2. Data processing
3. Exploring the data
3. collection of data'''

' Use of pandas library : -\n1. Cleaning the data \n2. Data processing\n3. Exploring the data\n3. collection of data'

In [3]:
'''pandas deals with the following three data structures :-
1. Series
2. DataFrame
3. Panel 

All pandas data structures are value mutable (can be changed )'''

'pandas deals with the following three data structures :-\n1. Series\n2. DataFrame\n3. Panel \n\nAll pandas data structures are value mutable (can be changed )'

In [4]:
#Series : - Series is a one-dimensional array like structure with homogeneous
#data (means collection of similar type of data .) 
#1D array means many rows but only one column 
'''Key points of Series data structure :-
1. Homogeneous Data
2. size immutable
3. values of data mutable'''

'Key points of Series data structure :-\n1. Homogeneous Data\n2. size immutable\n3. values of data mutable'

In [5]:
#call library pandas 
import pandas as pd

In [6]:
#A series can be created using various inputs like :
# Array: 1D
#Dict
#List

In [7]:
#Create an Empty Series  
A=pd.Series()
print(A)

Series([], dtype: float64)

In [8]:
#create Series from List
#we create the List
L=[20,34,50,70,90,40]
print(L)

[20, 34, 50, 70, 90, 40]

In [9]:
#We converts List into Series :-
A=pd.Series(L)
print(A)

0    20
1    34
2    50
3    70
4    90
5    40
dtype: int64

In [10]:
#to access value at index 2
A[2] #Indexing

50

In [11]:
A[1:5] #slicing

1    34
2    50
3    70
4    90
dtype: int64

In [12]:
print(A)

0    20
1    34
2    50
3    70
4    90
5    40
dtype: int64

In [13]:
#Retrieve the first three element from A
print(A[:3]) #here start=0 and stop=3-1=2 and step=+1

0    20
1    34
2    50
dtype: int64

In [14]:
print(A)

0    20
1    34
2    50
3    70
4    90
5    40
dtype: int64

In [15]:
#Retrieve the last three element from A
print(A[-3:]) #start=-3 stop=till end and step=+1

3    70
4    90
5    40
dtype: int64

In [16]:
#define itself index
#we create a list 
L=[45,67,89,23,45,70,90]
name=['Tina','Anu','kamal','Monika','Ram','Mohan','Pratik']
A=pd.Series(L,index=name)
print(A)

Tina      45
Anu       67
kamal     89
Monika    23
Ram       45
Mohan     70
Pratik    90
dtype: int64

In [17]:
#retrieve marks of Anu if single index [ ]
A['Anu']

67

In [18]:
#retrieve marks of Anu,Ram and Mohan
A[['Anu','Ram','Mohan']]  #multiple value [[]]

Anu      67
Ram      45
Mohan    70
dtype: int64

In [19]:
print(A)

Tina      45
Anu       67
kamal     89
Monika    23
Ram       45
Mohan     70
Pratik    90
dtype: int64

In [20]:
A['Anu':'Mohan'] #access marks of Anu to Mohan

Anu       67
kamal     89
Monika    23
Ram       45
Mohan     70
dtype: int64

In [21]:
#create Series from dictionary 
#we create dictionary key:value
d={'Anu':34,'kamal':89,'Monika':23,'Ram':45,'Mohan':70}
print("Dictionary : ",d)
#convert dictionary into Series
student=pd.Series(d)
print(student)

Dictionary :  {'Anu': 34, 'kamal': 89, 'Monika': 23, 'Ram': 45, 'Mohan': 70}
Anu       34
kamal     89
Monika    23
Ram       45
Mohan     70
dtype: int64

In [22]:
#We create a Series with the help of 1D numpy array
import numpy as np
A=np.array([45,67,89,90,23,45,67])
print("Numpy 1 D array : ",A)
#converts 1D array into Series
S=pd.Series(A) #bydefault index 0,1,2,....
print(S)

Numpy 1 D array :  [45 67 89 90 23 45 67]
0    45
1    67
2    89
3    90
4    23
5    45
6    67
dtype: int32

In [23]:
#2. DataFrame(): inbuilt function of pandas library
#DataFrame : creates a 2D array means two dimensional array means many rows 
#and in each row,many columns means to hold data in tabular form
#means collection of 2 or more Series are creates DataFrame
''' 
Name    Age    Mobile   Email
Anu      23 9876545678  Anu@itvedant.com
Seema    31 7689765432  Seema@itvedant.com

Keypoints of DataFrame : -
1. Heterogeneous Data for eg. in above table : Name is string type , Age is
int type , mobile is int type and Email is string type
2. Data Mutable means can be changed
3. Size Mutable
'''

' \nName    Age    Mobile   Email\nAnu      23 9876545678  Anu@itvedant.com\nSeema    31 7689765432  Seema@itvedant.com\n\nKeypoints of DataFrame : -\n1. Heterogeneous Data for eg. in above table : Name is string type , Age is\nint type , mobile is int type and Email is string type\n2. Data Mutable means can be changed\n3. Size Mutable\n'

In [24]:
'''A pandas DataFrame can be created using various inputs : -
1. Lists
2. dict
3. Series
4. 2D Numpy array'''

'A pandas DataFrame can be created using various inputs : -\n1. Lists\n2. dict\n3. Series\n4. 2D Numpy array'

In [25]:
#create an Empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [26]:
#create DataFrame with the help of List
data=[['Anu',21,'Bhopal'],['Babita',19,'Mumbai'],['Sunita',32,'Indore']]
print("List : ")
print(data)
#converts list data into DataFrame
student=pd.DataFrame(data,columns=['Name','Age','City'])
print("\nDataFrame Student")
print(student)

List :
[['Anu', 21, 'Bhopal'], ['Babita', 19, 'Mumbai'], ['Sunita', 32, 'Indore']]

DataFrame Student
     Name  Age    City
0     Anu   21  Bhopal
1  Babita   19  Mumbai
2  Sunita   32  Indore

In [27]:
#create dataframe from dictionary
data={'Name':['Anu','Babita','Sunita'],'Age':[21,19,32],
      'City':['Bhopal','Mumbai','Indore']}
#converts dictionary data into DataFrame
student=pd.DataFrame(data)
print("\nDataFrame Student")
print(student)

DataFrame Student
     Name  Age    City
0     Anu   21  Bhopal
1  Babita   19  Mumbai
2  Sunita   32  Indore

In [28]:
#retrieve name of all student from dataframe student
student["Name"]

0       Anu
1    Babita
2    Sunita
Name: Name, dtype: object

In [29]:
#or #retrieve name of all student from dataframe student
student.Name

0       Anu
1    Babita
2    Sunita
Name: Name, dtype: object

In [30]:
print(student)

     Name  Age    City
0     Anu   21  Bhopal
1  Babita   19  Mumbai
2  Sunita   32  Indore

In [31]:
#retrieve multiple columns of all students then use [[]] means 2D array
#access Name and City of all students
student[["Name","City"]]

     Name    City
0     Anu  Bhopal
1  Babita  Mumbai
2  Sunita  Indore

In [32]:
#access all details of 1st index  from student dataframe
#student[1] #show error

In [33]:
print(student)

     Name  Age    City
0     Anu   21  Bhopal
1  Babita   19  Mumbai
2  Sunita   32  Indore

In [34]:
##access all details of 1st index  from student dataframe
student.iloc[1] #iloc means index location of row 
#dataframename.iloc[row's index]

Name    Babita
Age         19
City    Mumbai
Name: 1, dtype: object

In [35]:
#access the data from particular cell means 1st row and 1st column
#means access the age of 1st row's index
student.iloc[1,1] #iloc means given row index and col index

19

In [36]:
student.loc[1,"Age"] #location means give row index but column's name

19

In [37]:
student["Age"][1]  #dataframe[colname][rowindex]

19

In [38]:
#Lecture 6-JAN-2021

In [39]:
import pandas as pd

In [40]:
#Extracting Data from various Source  in Structured format 
'''1. Clipboard
2. .csv file : comma separated values
3. Use in Real Life'''

'1. Clipboard\n2. .csv file : comma separated values\n3. Use in Real Life'

In [41]:
#There are 2 types of Data : -
'''
1. Structured Data means to storee data in tabular format means in the form 
of rows and columns .Extension : excel file .xlsx , sql file .sql and .csv
2. Un-structured data means to store data in text format(.docx,.rtf,.txt
image file,audio file,video file)'''

'\n1. Structured Data means to storee data in tabular format means in the form \nof rows and columns .Extension : excel file .xlsx , sql file .sql and .csv\n2. Un-structured data means to store data in text format(.docx,.rtf,.txt\nimage file,audio file,video file)'

In [42]:
#Extract Data from Clipboard : -
#clipboard : It is temporary memory of system . Its hold data temporary and
#hold current data after cut and copy and delete old one 
#extract data whose tabular form from any webpages of any websites 
#How to do work ?

In [43]:
#data analysis IPL winner team 2008 to 2020
#Read data from clipboard then use inbuilt function read_clipborad() :
#which function define in pandas library
df=pd.read_clipboard() #df user defined object of dataframe(2D array)
print(df)

Empty DataFrame
Columns: [https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing]
Index: []

In [44]:
#how many rows and columns then use shape inbuilt method
df.shape

(0, 1)

In [45]:
#to display the column name
df.columns

Index(['https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing'], dtype='object')

In [46]:
#To show first 5 records then use inbuilt function head()
df.head()

Empty DataFrame
Columns: [https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing]
Index: []

In [47]:
#To show first 7 records then use inbuilt function head()
df.head(7)

Empty DataFrame
Columns: [https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing]
Index: []

In [48]:
#To display last 5 records then use inbuilt function tail()
df.tail()

Empty DataFrame
Columns: [https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing]
Index: []

In [49]:
#To display last 8 records then use inbuilt function tail()
df.tail(8)

Empty DataFrame
Columns: [https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing]
Index: []

In [50]:
#to show all details of table
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 1 columns):
https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing    0 non-null object
dtypes: object(1)
memory usage: 0.0+ bytes

In [51]:
#To check null values of dataset
df.isnull().sum()

https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing    0
dtype: int64

In [52]:
df.describe()

        https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing
count                                                   0
unique                                                  0

In [53]:
df.head()

Empty DataFrame
Columns: [https://jamboard.google.com/d/1cPF_xzrIjJtCPcBARixljR8UBunXmxWcZ-4nNrsPkAc/edit?usp=sharing]
Index: []

In [54]:
#to show Winner column of all players
df["Winner"]

KeyError: 'Winner'

In [ ]:
print(df["Winner"].unique()) #To give Winner's Team name from 2008-2020

In [ ]:
#How many times to win Various team [2008-2020]
df["Winner"].value_counts()

In [ ]:
#How many times winner Chennai Super Kings  
df["Winner"].value_counts()["Chennai Super Kings"]

In [ ]:
df.head()

In [ ]:
#doubt clr : function
def addition(a=None,b=None):
    if(a!=None and b!=None):
        return a+b
    elif(a!=None and b==None):
        return a
    elif(a==None and b!=None):
        return b
    else:
        return "a and b both are None"

In [ ]:
#main program
x=4
y=5
print(addition(x,y))#position argument
x=9
print(addition(x))
y=10
print(addition(b=y))#keyword argument
print(addition()) #default argument

In [ ]:
#to save data from dataframe df (which hold IPL winner data from 2008-2020)
#into .csv file then use inbuilt function to_csv()
df.to_csv("IPL_Winner_List.csv",index=False)

In [ ]:
#to read csv file then use inbuilt function of pandas
#read_csv
df=pd.read_csv("IPL_Winner_List.csv")

In [ ]:
df.head()

In [ ]:
#2. Work on real data 
#Automobile_data.csv

In [ ]:
import os
os.getcwd()

In [ ]:
car=pd.read_csv("Automobile_data.csv")
#car is a user defined object name (it is dataframe)

In [ ]:
car.head()

In [ ]:
car.shape #to show no. of rows and columns

In [ ]:
car.columns #to show column names

In [ ]:
#which Types of fuel-type of car
print(car["fuel-type"].unique())

In [ ]:
#How many gas and diesel car in this dataset
car["fuel-type"].value_counts()

In [ ]:
#To retrieve all details of diesel car
#Conditional filtering 

car[car["fuel-type"]=='diesel']

In [ ]:
#To retrieve all details of those cars whose fuel-type= dieseland 
#make=mazda means apply muliple conditions
#use logical operator if use multiple conditions
#1. and : use program   but apply in table means dataframe then use &(ampercend)
#1. or : use program but apply in table means dataframe then use | (pipeline)
#3. not(!) : use program  !

car[(car["fuel-type"]=='diesel') & (car["make"]=="mazda")]

In [ ]:
#To retrieve all details of those cars whose fuel-type= diesel or
#make=mazda means apply muliple conditions
car[(car["fuel-type"]=='diesel') | (car["make"]=="mazda")]

In [ ]:
car.head()

In [ ]:
#To find maximum price of car then max() inbuilt function (numpy)
car["price"].max()

In [ ]:
#To show record no. of those car whose a maximum price then use idxmax()
#inbuilt function
car["price"].idxmax()

In [ ]:
#To show all details of car which record no. 74
car.iloc[74]

In [ ]:
car.head()

In [ ]:
#groupby()
#What is the sum of price for each category of fuel-type?
car.groupby("fuel-type")["price"].sum()

In [ ]:
#What is the Average price of car(mean) for each category of fuel-type?
car.groupby("fuel-type")["price"].mean()

In [ ]:
#To remove symboling column from dataset car then use inbuilt function drop()
car.drop("symboling",axis=1) #temporary delete from car dataset

In [ ]:
car.head()

In [ ]:
#To remove symboling column from dataset car then use inbuilt function drop()
car.drop("symboling",axis=1,inplace=True) #permanent delete from car dataset
#by default inplace=False

In [ ]:
car.head()